{{#> layouts/base title="IMA Test" campaignName="Test" campaignUrl="https://api.createsend.com/api/v3.2/subscribers/430e3e0db697459c0e7a9cd9471aaa6d.json" campaignAPIKey="77eff3f97d6e537701ea49667c8725f0" }}

  {{!-- Add additonal css/meta to head. --}}
  {{#*inline "head-block"}}
    {{!-- <link rel="stylesheet" href="some-other-styles.css"> --}}
  {{/inline}}

{{!--   {{!-- Home Template with Title. --}}
  {{#*inline "home-panel"}}
    {{> includes/home }}
  {{/inline}}

    {{!-- Home Template with Title. --}}
  {{#*inline "form-panel"}}
    {{> includes/form }}
  {{/inline}} --}}

{{/layouts/base}}
