/*------------------------------------*\
    Typography

    h1
\*------------------------------------*/

html,
body {
	font-family: $f-AdihausDIN-Regular;
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $c-text--light;
}

.title {
	color: $c-brand--primary;
	font-size: 19px;
	letter-spacing: 2.6px;
	line-height: 23px;
}

	.title--center {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.title--bottom {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.title--white {
		color: $c-text--light;
	}
