<!doctype html>
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;
        {{#if campaignUrl}}connect-src {{campaignUrl}}{{/if}}">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/theme.css">
        {{#> head-block}}
        {{/head-block}}
        <title>
            {{#if title}}
                {{title}}
            {{else}}
                IMA Cordova Application
            {{/if}}
        </title>
        {{#if campaignName}}
            <script>
                var campaignName = '{{{campaignName}}}';
                var campaignUrl = '{{{campaignUrl}}}';
                var campaignAPIKey = '{{{campaignAPIKey}}}';
            </script>
        {{/if}}
    </head>
    <body class="container">
        <div class="container__title">
            <h1 class="title js-title-global">
                BIO_RCOGNITION SYSTM
            </h1>
        </div>
        <img src="img/background.jpg" class="background" >
        <img src="img/frame.svg" class="frame" >
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/dist/app.js"></script>
        <script type="text/javascript" src="js/dist/templates.js"></script>
    </body>
</html>
