<div class="panel panel--terms">
    <div class="center">
        <img src="img/skull.svg" class="skull-image" >
        <p class="title title-denied">
            ! ! ! B I O H A Z A R D ! ! ! !
        </p>
        <p class="title para-denied">
            ACCESS_DENIED
        </p>
    </div>
</div>
