<div class="panel panel--form">
 	<h1>
 		Enter the form
 	</h1>
	<form class="form">
		<input type="text" name="name" id="name" class="form__field form__field--name" placeholder="Name" required>
		<input type="email" name="email" id="email" class="form__field form__field--email" placeholder="Email" required>
		<input type="date" name="dob" id="dob" class="form__field form__field--dob" placeholder="Email" required>
		<select name="age_group" id="age_group" class="form__field form__field--age-group" placeholder="Age Group" required>
            <option value="" selected="selected">Age group</option>
            <option value="adult">Adult</option>
            <option value="infant">Infant</option>
        </select>
        <select name="shoe_size" id="shoe_size" class="form__field form__field--shoe-size" placeholder="Shoe Size" required>
            <option value="" selected="selected">Shoe Size</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="5">7</option>
            <option value="6">8</option>
            <option value="6">9</option>
            <option value="5">10</option>
            <option value="6">11</option>
        </select>
        <input type="hidden" name="store_location" id="store_location" class="form__field form__field--store-location" value="Dublin">
		<label for="accept" class="form__accept has-load-in">
			<input type="checkbox" name="accept" id="accept" value="1" required><span>I accept the <a href="#terms" class="show-terms">terms and conditions</span></a>
		</label>
		<input type="submit" class="form__submit" value="Sign Up">
	</form>
	<a href="#home" class="button">
 		Back
 	</a>
</div>
