<div class="panel">
    <p class="title title--center js-title-identified">
        SUBJECT_****7347859****
    </p>
    <p class="title title--bottom title--white">
        _IDENTIFIED_
    </p>
</div>
