<div class="panel">
    <div class="center">
        <div class="terms-list">
            &nbsp;
        </div>
        <p class="title title--white termslist-title">
            ....ACCEPTED
        </p>
    </div>
</div>
