<div class="panel panel--terms">
    <div class="center">
        <img src="img/toxic.svg" class="terms-image" >
        <p class="title js-terms-title terms-title">
            !_IMPORTANT_INFORMATION_!
        </p>
        <p class="title terms-copy">
            BY ACCESSING THIS EVENT I ACCEPT THE FOLLOWING RISKS AND ABSOLVE THE VENUE AND ORGANISERS FROM ALL BLAME FOR ANY HARM THAT MAY BEFALL ME AS A CAUSE OF THEIR DIRECT NEGLIGENCE: THE BELOW LIST IS INCLUSIVE BUT NOT EXHAUSTIVE .
        </p>
    </div>
</div>
