<div class="panel">
 	<h1>
 		Thankyou
 	</h1>
 	 <p>
 		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt sit amet tortor vitae volutpat. Vivamus scelerisque urna ut rutrum pharetra. Donec faucibus cursus lacus eu maximus. Donec lacus nisi, volutpat non diam eu, condimentum tincidunt lorem.
 	</p>
 	<a href="#home" class="button">
 		Home
 	</a>
</div>
