<div class="panel">
    <p class="title title--center js-title-verifying">
        _VERIFYING_IDENTITY_
    </p>
    <div class="boxes boxes--1">
        <div class="boxes__left">
            <img src="img/box.svg" class="box box--1" >
            <img src="img/box.svg" class="box box--2" >
            <img src="img/box.svg" class="box box--3" >
        </div>
        <div class="boxes__right">
            <img src="img/box.svg" class="box box--4" >
            <img src="img/box.svg" class="box box--5" >
            <img src="img/box.svg" class="box box--6" >
        </div>
    </div>
    <div class="boxes boxes--2">
        <div class="boxes__left">
            <img src="img/box.svg" class="box box--1" >
            <img src="img/box.svg" class="box box--2" >
            <img src="img/box.svg" class="box box--3" >
        </div>
        <div class="boxes__right">
            <img src="img/box.svg" class="box box--4" >
            <img src="img/box.svg" class="box box--5" >
            <img src="img/box.svg" class="box box--6" >
        </div>
    </div>
    <div class="boxes boxes--3">
        <div class="boxes__left">
            <img src="img/box.svg" class="box box--1" >
            <img src="img/box.svg" class="box box--2" >
            <img src="img/box.svg" class="box box--3" >
        </div>
        <div class="boxes__right">
            <img src="img/box.svg" class="box box--4" >
            <img src="img/box.svg" class="box box--5" >
            <img src="img/box.svg" class="box box--6" >
        </div>
    </div>
    <div class="boxes boxes--4">
        <div class="boxes__left">
            <img src="img/box.svg" class="box box--1" >
            <img src="img/box.svg" class="box box--2" >
            <img src="img/box.svg" class="box box--3" >
        </div>
        <div class="boxes__right">
            <img src="img/box.svg" class="box box--4" >
            <img src="img/box.svg" class="box box--5" >
            <img src="img/box.svg" class="box box--6" >
        </div>
    </div>
    <div class="boxes boxes--5">
        <div class="boxes__left">
            <img src="img/box.svg" class="box box--1" >
            <img src="img/box.svg" class="box box--2" >
            <img src="img/box.svg" class="box box--3" >
        </div>
        <div class="boxes__right">
            <img src="img/box.svg" class="box box--4" >
            <img src="img/box.svg" class="box box--5" >
            <img src="img/box.svg" class="box box--6" >
        </div>
    </div>
    <img src="img/progress-bar.svg" class="progress-bar" >
    <div class="progress-bar-wrap">
        <img src="img/progress-bar-inner.svg" class="progress-bar-inner" >
    </div>
</div>
