/*------------------------------------*\
    Base

    body
    container
    button
\*------------------------------------*/

body {

    width: 768px;
    height: 1024px;
    overflow: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                 /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: transparent;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 1;

    &.hide {
        display: none;
    }
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.denied {
        animation: denied 1s linear infinite;
        transition: none;
    }
}

@keyframes denied {
    0% {
        background-color: black;
    }
    49% {
        background-color: black;
    }
    50% {
        background-color: $c-brand--primary;
    }
    99% {
        background-color: $c-brand--primary;
    }
    100% {
        background-color: black;
    }
}

    .container__title {
        text-align: center;
        margin-top: 190px;

        &.hide {
            opacity: 0;
            transition: opacity .3s;
        }
    }

.center {
    text-align: center;
}

.counter {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $c-text--light;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    line-height: 28px;
    margin: 0 auto 20px;
    display: table;
    padding: 16px 30px 17px;
    text-transform: uppercase;
    background-color: transparent;
    color: $c-brand--primary;
    border: 1px solid $c-brand--primary;
    text-decoration: none;
    opacity: 0;
    transition: opacity .3s;

    &:before {
        content: '';
        width: 9px;
        height: calc(100% + 20px);
        position: absolute;
        top: -10px;
        left: -10px;
        background-image: url('../img/button-borders.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transform: scale(0);
        transition: transform .3s .3s;
    }

    &:after {
        content: '';
        width: 9px;
        height: calc(100% + 20px);
        position: absolute;
        top: -10px;
        right: -10px;
        background-image: url('../img/button-borders.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(180deg) scale(0);
        transition: transform .3s .3s;
    }

    &.is-active {
        opacity: 1;

        &:before {
            transform: scale(1);
        }

        &:after {
            transform: rotate(180deg) scale(1);
        }

        span {
            opacity: 1;
        }
    }

    &.has-loaded {

        span {
            animation: flash 1s infinite;
            transition: none;
        }
    }

    span {
        position: relative;
        top: 1px;
        padding: 0 5px;
        opacity: 0;
        transition: opacity .3s .6s;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: difference;
}

.facial-scanner {
    width: 377px;
    height: 599px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 3s cubic-bezier(.56,.59,.72,1.34);

    &.is-active {
        transform: translate(-50%, -50%) scale(1);
    }
}

.progress-bar {
    width: 462px;
    height: 29px;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-bar-wrap {
    position: absolute;
    width: 0;
    height: 19px;
    top: 63%;
    left: 157px;
    transform: translateY(-50%);
    overflow: hidden;
    animation: progress 4s steps(36, end) forwards;
}

@keyframes progress {
    to {
        width: 454px;
    }
}

.progress-bar-inner {
    width: 454px;
}

.boxes {
    position: absolute;
}

    .boxes--1 {
        top: 340px;
        left: 160px;

        .box {
            &.is-active {
                &.box--2 {
                    transition-delay: .2s;
                }
                &.box--3 {
                    transition-delay: .4s;
                }
                &.box--4 {
                    transition-delay: .6s;
                }
                &.box--5 {
                    transition-delay: .8s;
                }
                &.box--6 {
                    transition-delay: 1s;
                }
            }
        }
    }

    .boxes--2 {
        top: 270px;
        left: 500px;

        .box {
            &.is-active {
                &.box--1 {
                    transition-delay: 2s;
                }
                &.box--2 {
                    transition-delay: 2.2s;
                }
                &.box--3 {
                    transition-delay: 2.4s;
                }
                &.box--4 {
                    transition-delay: 2.6s;
                }
                &.box--5 {
                    transition-delay: 2.8s;
                }
                &.box--6 {
                    transition-delay: 3s;
                }
            }
        }
    }

    .boxes--3 {
        top: 810px;
        left: 160px;

        .box {
            &.is-active {
                &.box--1 {
                    transition-delay: 1.8s;
                }
                &.box--2 {
                    transition-delay: 2s;
                }
                &.box--3 {
                    transition-delay: 2.2s;
                }
                &.box--4 {
                    transition-delay: 2.4s;
                }
                &.box--5 {
                    transition-delay: 2.6s;
                }
                &.box--6 {
                    transition-delay: 2.8s;
                }
            }
        }
    }

    .boxes--4 {
        top: 775px;
        left: 360px;

        .box {
            &.is-active {
                &.box--1 {
                    transition-delay: 1.6s;
                }
                &.box--2 {
                    transition-delay: 1.8s;
                }
                &.box--3 {
                    transition-delay: 2s;
                }
                &.box--4 {
                    transition-delay: 2.2s;
                }
                &.box--5 {
                    transition-delay: 2.4s;
                }
                &.box--6 {
                    transition-delay: 2.6s;
                }
            }
        }
    }

    .boxes--5 {
        top: 700px;
        left: 460px;

        .box {
            &.is-active {
                &.box--1 {
                    transition-delay: 1.2s;
                }
                &.box--2 {
                    transition-delay: 1.4s;
                }
                &.box--3 {
                    transition-delay: 1.6s;
                }
                &.box--4 {
                    transition-delay: 1.8s;
                }
                &.box--5 {
                    transition-delay: 2s;
                }
                &.box--6 {
                    transition-delay: 2.2s;
                }
            }
        }
    }

.boxes__left,
.boxes__right {
    display: inline-block;
}

.boxes__right {
    position: relative;
    top: 30px;
}

.box {
    display: block;
    margin-bottom: 5px;
    opacity: 0;
    transition: opacity .01s;

    &.is-active {
        opacity: 1;
    }
}

.terms-image {
    margin-top: 200px;
}

.terms-title {
    margin-top: 60px;
}

.terms-copy {
    max-width: 440px;
    margin: 60px auto 0;
}

.terms-list {
    width: 296.5px;
    height: 564px;
    background-image: url('../img/terms-list.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 564px;
    margin: 120px auto 30px;
    animation: termslist 4s linear forwards;
}

@keyframes termslist {
    0% {
        background-position: 0 564px;
    }
    100% {
        background-position: 0 -2000px;
    }
}

.termslist-title {
    opacity: 0;

    &.is-active {
        animation: flash 1s infinite;
    }
}

.skull-image {
    margin-top: 200px;
    mix-blend-mode: difference;
}

.title-denied {
    margin-top: 50px;
    mix-blend-mode: difference;
}

.para-denied {
    margin-top: 50px;
    mix-blend-mode: difference;
}

.access-granted {
    mix-blend-mode: difference;
}
