/*------------------------------------*\
    Form
\*------------------------------------*/

input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    display: block;
    border: 0;
    padding: 10px 19px 9px;
    font-size: 15px;
    line-height: 22px;
    min-height: 46px;
    margin-bottom: 30px;
    background-color: $c-brand--secondary;
    color: $c-text--light;
    border: 1px solid $c-text--light;
    border-radius: 0;
    @include appearance(none);
    @include box-sizing(border-box);
    @include input-placeholder {
        color: $c-text--light;
    }
}

input[type="text"], input[type="email"], textarea {
    &:focus {
        outline: none;
        border: 1px solid $c-brand--primary;
    }
}

select, input[type="date"] {
    width: 100%;
    display: block;
    border: 0;
    padding: 10px 19px 9px;
    font-size: 15px;
    line-height: 22px;
    min-height: 46px;
    margin-bottom: 30px;
    @include box-sizing(border-box);
}

input[type="checkbox"], input[type="radio"] {
    display: block;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 30px;
    @include box-sizing(border-box);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*------------------------------------*\
    § submit
\*------------------------------------*/

input[type="submit"] {
    width: auto;
    display: block;
    font-size: 22px;
    line-height: 20px;
    margin: 0 auto 30px;
    padding: 16px 40px 14px;
    text-transform: uppercase;
    background-color: $c-brand--primary;
    color: $c-text--light;
    text-decoration: none;
    border: 0;
    border-radius: 0;
    @include appearance(none);
}

.show-terms {
    color: $c-text--light;
}
