/*------------------------------------*\
    Panel
\*------------------------------------*/

.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 50px;
    @include transition(.5s);
    pointer-events: none;
    z-index: 10;

    &.center {
       pointer-events: all;
       opacity: 1;
    }
}
