
/*------------------------------------*\
    colors
        - Please prefix color
          var with '$c-'
\*------------------------------------*/


/*------------------------------------*\
    Brand colors
\*------------------------------------*/

$c-brand--primary: #F8E71C;
$c-brand--secondary: #333333;
$c-brand--tertiary: #666666;

/*------------------------------------*\
    Section colors
\*------------------------------------*/

$c-body: #000000;
$c-light: #ffffff;

/*------------------------------------*\
    General text colors
\*------------------------------------*/

$c-text--light: #ffffff;
$c-text--mid: #666666;
$c-text--dark: #000000;
