/*------------------------------------*\
    Fonts
        Size
        Font family
\*------------------------------------*/

/*------------------------------------*\
    § Size
\*------------------------------------*/

$base-font-size: 14px;

/*------------------------------------*\
    § Font family
\*------------------------------------*/

$f-AdihausDIN-Cn: 'AdihausDIN-Cn';
$f-AdihausDIN-Regular: 'AdihausDIN-Regular';

@font-face {
    font-family: 'AdihausDIN-Cn';
    src: url('fonts/AdihausDIN-Cn/AdihausDIN-Cn.eot'); /* IE9 Compat Modes */
    src: url('fonts/AdihausDIN-Cn/AdihausDIN-Cn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/AdihausDIN-Cn/AdihausDIN-Cn.woff') format('woff'), /* Modern Browsers */
        url('fonts/AdihausDIN-Cn/AdihausDIN-Cn.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'AdihausDIN-Regular';
    src: url('fonts/AdihausDIN-Regular/AdihausDIN-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/AdihausDIN-Regular/AdihausDIN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/AdihausDIN-Regular/AdihausDIN-Regular.woff') format('woff'), /* Modern Browsers */
        url('fonts/AdihausDIN-Regular/AdihausDIN-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight:normal;
    font-style:normal;
}