/*------------------------------------*\
    Responsive settings
        Breakpoints
\*------------------------------------*/

/*------------------------------------*\
   § Breakpoints
\*------------------------------------*/
$small:  480px;
$medium: 768px;
$large:  1024px;

