/*------------------------------------*\
    Mixins
    	grid-cols
    	bp
    	em
        z-index
\*------------------------------------*/

/*------------------------------------*\
    § Grid cols
\*------------------------------------*/

@mixin grid-cols($cols, $gutter:$defaultGutter, $grid__item:$grid__item){
    
    margin-left: - $gutter;

    > #{$grid__item}{

        width:calc(100% / #{$cols} - #{$gutter});
        margin-left:$gutter;

    }  

    @for $i from 2 through $cols {

        > #{$grid__item}--span-#{$i}{

            @if($cols > 1){                    

                width:calc(100% / #{$cols / $i} - #{$gutter});
            }

        } 
    }
}

/*------------------------------------*\
    § bp
\*------------------------------------*/

@mixin bp($point, $dir: min) {
    @media (#{$dir}-width: $point) {
        @content;
    }
}

/*------------------------------------*\
    § em 
\*------------------------------------*/

@function em($target, $context: $base-font-size) {
    @if $target == 0 { @return 0 }
    @return $target / $context + 0em;
}

/*------------------------------------*\
     § Pseudo
\*------------------------------------*/

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

/*------------------------------------*\
     § Responsive Ratio
\*------------------------------------*/

@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

/*------------------------------------*\
     § Input placeholder
\*------------------------------------*/

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}


/*------------------------------------*\
     § Z index
\*------------------------------------*/

@function z($name) {
    @if index($z-indexes, $name) {
        @return (length($z-indexes) - index($z-indexes, $name)) + 1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}

